.container {
  max-width: 110rem;
}

blockquote {
  font-style: normal;
}

code {
  white-space: pre-wrap;
}

#donation {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.green { color: #0c8658; }
.orange { color: #f4821e; }
.red { color: #ee403d; }

table td,
table th {
  padding: 1rem;
  border: 1px solid #dadada;
}

@mixin base_dark_custom {
  th,
  td {
    padding: 1rem;
  }

  table td,
  table th {
    border: 1px solid #393a44
  }
}

body.colorscheme-dark {
  @include base_dark_custom();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include base_dark_custom();
  }
}
